.git
.github
.venv
venv
tests
*.md
!README.md
.env
.env.*
*.db
*.db-wal
*.db-shm
__pycache__
**/__pycache__
*.py[cod]
.pytest_cache
.ruff_cache
.mypy_cache
fly.toml
pyproject.toml
requirements-dev.txt
